[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SelectionTools"]
	path = SelectionTools
	url = https://github.com/cran/SelectionTools
